@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
}

body {
  color: rgb(248, 250, 252);
  background-color: rgb(2, 6, 23);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}